[mailman]
site_owner: {{ mailman3_admin }}
noreply_address: noreply
default_language: en
sender_headers: from from_ reply-to sender
email_commands_max_lines: 10
pending_request_life: 3d
cache_life: 7d
pre_hook:
post_hook:
layout: debian
filtered_messages_are_preservable: no
html_to_plain_text_command: /usr/bin/html2markdown $filename
listname_chars: [-_.0-9a-z]


[shell]
prompt: >>>
banner: mailman3 shell
use_ipython: no
history_file:


[paths.debian]
var_dir: /var/lib/mailman3
queue_dir: $var_dir/queue
bin_dir: /usr/lib/mailman3/bin
list_data_dir: $var_dir/lists
log_dir: /var/log/mailman3
lock_dir: $var_dir/locks
data_dir: $var_dir/data
cache_dir: $var_dir/cache
etc_dir: /etc/mailman3
ext_dir: $var_dir/ext
messages_dir: $var_dir/messages
archive_dir: $var_dir/archives
template_dir: $var_dir/templates
pid_file: /run/mailman3/master.pid
lock_file: $lock_dir/master.lck


[database]
class: mailman.database.postgresql.PostgreSQLDatabase
url: postgres://{{ mailman3_db_user_name }}:{{ postgresql_mailman3_user_password }}@localhost/{{ mailman3_db_name }}
debug: no


[logging.debian]
format: %(asctime)s (%(process)d) %(message)s
datefmt: %b %d %H:%M:%S %Y
propagate: no
level: warn
path: mailman.log

[webservice]
hostname: 127.0.0.3
port: 8001
use_https: no
show_tracebacks: no

api_version: 3.1

admin_user: {{ mailman3_rest_api_username }}
admin_pass: {{ mailman3_rest_api_password }}

[mta]
incoming: mailman.mta.postfix.LMTP
outgoing: mailman.mta.deliver.deliver

smtp_host: 127.0.0.26
smtp_port: 26
smtp_user: 
smtp_pass: 

lmtp_host: 127.0.0.1
lmtp_port: 8024

configuration: python:mailman.config.postfix
