SECRET_KEY = '{{ mailman3_secret }}'

ADMINS = (
     ('Mailman Suite Admin', '{{ mailman3_admin }}'),
)

ALLOWED_HOSTS = [
    '*'
]

# Mailman API credentials
MAILMAN_REST_API_URL = 'http://127.0.0.3:8001'
MAILMAN_REST_API_USER = '{{ mailman3_rest_api_username }}'
MAILMAN_REST_API_PASS = '{{ mailman3_rest_api_password }}'
MAILMAN_ARCHIVER_KEY = '{{ mailman3_archiver_key }}'
MAILMAN_ARCHIVER_FROM = ('127.0.0.3', '::1')

# Application definition

INSTALLED_APPS = (
    'hyperkitty',
    'postorius',
    'django_mailman3',
    # Uncomment the next line to enable the admin:
    'django.contrib.admin',
    # Uncomment the next line to enable admin documentation:
    # 'django.contrib.admindocs',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'rest_framework',
    'django_gravatar',
    'compressor',
    'haystack',
    'django_extensions',
    'django_q',
    'allauth',
    'allauth.account',
    'allauth.socialaccount',
    'django_mailman3.lib.auth.fedora',
    #'allauth.socialaccount.providers.openid',
    #'allauth.socialaccount.providers.github',
    #'allauth.socialaccount.providers.gitlab',
    #'allauth.socialaccount.providers.google',
    #'allauth.socialaccount.providers.facebook',
    #'allauth.socialaccount.providers.twitter',
    #'allauth.socialaccount.providers.stackexchange',
)


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ mailman3web_db_name }}',
        'USER': '{{ mailman3web_db_user_name }}',
        'PASSWORD': '{{ postgresql_mailman3web_user_password }}',
        'HOST': 'localhost',
        'PORT': '',
        'OPTIONS': {
        },
    }
}


USE_X_FORWARDED_HOST = True

# And if your proxy does your SSL encoding for you, set SECURE_PROXY_SSL_HEADER
# https://docs.djangoproject.com/en/1.8/ref/settings/#secure-proxy-ssl-header
# SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTO', 'https')
# SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_SCHEME', 'https')

# Other security settings
# SECURE_SSL_REDIRECT = True
# If you set SECURE_SSL_REDIRECT to True, make sure the SECURE_REDIRECT_EXEMPT
# contains at least this line:
# SECURE_REDIRECT_EXEMPT = [
#     "archives/api/mailman/.*",  # Request from Mailman.
#     ]
# SESSION_COOKIE_SECURE = True
# SECURE_CONTENT_TYPE_NOSNIFF = True
# SECURE_BROWSER_XSS_FILTER = True
# CSRF_COOKIE_SECURE = True
# CSRF_COOKIE_HTTPONLY = True
# X_FRAME_OPTIONS = 'DENY'

LANGUAGE_CODE = 'en-us'

TIME_ZONE = 'UTC'

USE_I18N = True
USE_L10N = True
USE_TZ = True


# Set default domain for email addresses.
EMAILNAME = '{{ mailman3_domain }}'

DEFAULT_FROM_EMAIL = 'postorius@{}'.format(EMAILNAME)

SERVER_EMAIL = 'root@{}'.format(EMAILNAME)

ACCOUNT_DEFAULT_HTTP_PROTOCOL = "https"


SOCIALACCOUNT_PROVIDERS = {
}

COMPRESS_OFFLINE = True

POSTORIUS_TEMPLATE_BASE_URL = 'http://localhost/mailman3/'
