upstream mailman3 {
    server unix:/run/mailman3-web/uwsgi.sock fail_timeout=0;
}

server {

    listen 80;
	listen [::]:80;
    server_name {{ mailman3web_domain }};
    server_tokens off;
    return 301 https://$server_name$request_uri;
}

server {

    listen 443 ssl http2;
	listen [::]:443 ssl http2;
    server_name {{ mailman3web_domain }};
    server_tokens off;

{% for ld in letsencrypt_domains %}
{% if mailman3web_domain in letsencrypt_domains[ld] %}
    ssl_certificate /etc/letsencrypt/live/{{ ld }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ld }}/privkey.pem;
{% endif %}
{% endfor %}

    root /var/www/{{ mailman3web_domain }};

    add_header X-Content-Type-Options nosniff;
    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Robots-Tag none;
    add_header X-Download-Options noopen;
    add_header X-Permitted-Cross-Domain-Policies none;

    location / {
        uwsgi_pass mailman3;
        include /etc/nginx/uwsgi_params;
    }

    location /mailman3/static {
        alias /var/lib/mailman3/web/static;
    }

    location /mailman3/static/favicon.ico {
        alias /var/lib/mailman3/web/static/postorius/img/favicon.ico;
    }

    access_log /var/log/nginx/mailman3/access.log combined;
    error_log /var/log/nginx/mailman3/error.log;

}

